.login-bg-wrapper{
	background: url("../assets/images/login_bg.jpg") no-repeat;
    background-size: auto;
    background-position: 60% 60%;
	.login-wrapper{
		border-radius: 5px;
		box-shadow: 0 0 25px 3px #a7a7a7;
		padding: 10px;
		width: 30%;
		font-size: 20px;
		// color: #fff;
		margin: auto;
		background: #fff url("../assets/images/reg_login.png") center no-repeat;
		&.login-wrapper-real{
			background: #fff url("../assets/images/login_real.png") center no-repeat;
		}
		.title{
			color: rgb(63, 81, 181);
			padding-bottom: 10px;
			margin-bottom: 18px;
			border-bottom: 1px solid rgba(0,0,0,0.12);
			text-align: center;
		}
		// md-icon.icon-home:before{
		// 	content: '\f2ba';
		// }
		.gender-span{
			color: rgba(0,0,0,0.38);
		}
		.submit-div{
			.md-button{
				border-radius: 5px;
			}
			.go-to-reg{
				color: rgb(63, 81, 181);
				text-align: right;
				line-height: 48px;
				font-size: 16px;
				span:hover{
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}
	@media (min-width: 1600px) and (max-width: 1920px){
		.login-wrapper{
			width: 30%;
		}
	}
	@media (min-width: 1200px) and (max-width: 1600px){
		.login-wrapper{
			width: 40%;
		}
	}
	@media (min-width: 900px) and (max-width: 1600px){
		.login-wrapper{
			width: 50%;
		}
	}
	@media (min-width: 600px) and (max-width: 900px){
		.login-wrapper{
			width: 70%;
		}
	}
	@media (max-width: 600px){
		.login-wrapper{
			width: 80%;
		}
	}
}