<style>
        .main{
            overflow: hidden;
        }
        .main .title{
            width: 70%;
            border-bottom: 1px solid #E5E5E5;
            height: 50px;
            margin:  0 auto;
        }
        .main span{
            line-height: 50px;
            float: left;
        }
        .main input{
            color:white;
            outline: none;
            cursor: pointer;
            border: 1px solid #3D5E37;
            padding: 7px 20px;
            background: #3D5E37;
            float: right;
        }
        .main input:hover{
            background: #38772E;
        }
        .main .fuwu{
            padding: 7px 20px;
            margin:  0 auto;
            width: 70%;
            text-align: right;
            font-size: 0.7em;
        }
        .main .goods_title{
            color: black;
            font-weight: bold;
            height: 60px;
            width: 70%;
            margin:  0 auto;
            border-bottom: 1px solid #E5E5E5;
        }
        .main .goods_title ul .li1{
            text-align: center;
            line-height: 60px;
            float: left;
            list-style: none;
        }
        .main .goods_title ul .li2{
            text-align: center;
            line-height: 60px;
            margin-left: 5%;
            float: right;
            list-style: none;
        }
        .main .goods{
            height: 110px;
            border-bottom: 1px solid #E5E5E5;
            margin:  10px auto;
            width: 70%;
        }
        .main .goods ul li{
            text-align: center;
            list-style: none;
        }
        .main .goods .li11{
            float: left;
        }
        .main .goods .li22{
            line-height: 100px;
            vertical-align: middle;
            margin-left: 5%;
            float: right;
        }
        .main .goods .li33{
            line-height: 100px;
            vertical-align: middle;
            margin-right: 4%;
            float: right;
        }
        .main .goods div{
            font-size: 0.7em;
            width: 100px;
            height: 100%;
        }
        .main .add_goods{
            width: 70%;
            height: 200px;
            margin:  0 auto;
            text-align: right;
        }
        .add_goods .pp1{

            font-size: 0.8em;
        }
        .add_goods .pp1 label{
            font-weight: bold;
        }
        .add_goods label{
            margin-left: 10px;
        }
        .add_goods .pp2{
            color: black;
            font-weight: bold;
            font-size: 1.2em;
        }
        .add_goods .pp3{
            font-size: 0.8em;
        }
        .time_delay{
            margin:  0 auto;
            text-align: center;
            line-height: 100px;

        }
        .show_phone{
            display: none;
        }
        .goodsDesktop{
            display: block;
        }
        .goods_phone{
            display: none;
        }



        @media screen and (max-width: 1100px) {
            #menu,.selectButtons{
                display: none;
            }
            body{
                padding-top: 1px;
            }
            .top_div{
                line-height: 30px;
                cursor: pointer;
                text-align: center;
                height: 30px;
                width: 100%;
                background: #999;
            }
            .logo_div{
                text-align: center;
                margin-top: 8px;
                vertical-align: middle;
                height: 50px;
                background: #262626;
            }
            .logo_div img{
                cursor: pointer;
            }
            .menu_img,.search_img{
                margin-top: 14px;
                float: left;
                display: block;
            }
            .menu_img {
                margin-right: 10px;
            }
            .user_img,.market_img{
                float: right;
                display: block;
            }
            .market_img{
                margin-top: 11px;
                margin-right: 10px;
            }
            .user_img{
                margin-top: 14px;
            }
            #regForm input{
                width: 100%;
            }
            #regForm span{
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .main{
                /*height: 800px;*/
            }
            .first_line_logo{
                display: none;
            }
            .foot{
                height: 500px;
            }
            .foot .bottom .bottom_right ,.foot .bottom .bottom_left{
                clear: both;
                width: 100%;
            }
            .bottom_left input{
                width: 100%;
            }
            .first_line_logo2{
                /*margin-top: 10px;*/
                display: inline-block;
            }
            .bottom_left img{
                display: block;
                cursor: pointer;
                margin:  0 auto;
            }
            .bottom_left p{
                text-align: center;
            }
            .bottom_container{
                width: 100%;
                height: 300px;
                margin: 0 auto;
            }
            .foot .bottom .bottom_right{
                clear: both;
                height: 200px;
                width: 100%;
            }
            .foot .bottom_right{
                background: #262626;
                color: white;
            }
            .bottom_right div ul li{
                text-align: center;
            }
            .bottom_right div .li1{
                font-size:1em;
                color: #999;
                padding: 15px 0;
            }
            .main{
                width: 100%;
            }
            body .main .title{
                width: 80%;
                text-align: left;
                border: none;
            }
            body .main .fuwu{
                border-bottom: 1px solid #E5E5E5;
                padding: 10px 0;
                margin:  0 auto;
                width: 80%;
                text-align: left;
            }
            body .main .goods_title{
                display: none;
            }
            body .main .goods_title{
                margin:  0 auto;
                width: 80%;
            }
            body .main .goods {
                width: 80%;
            }
            body .main .show_pc{
                display: none;
            }
            body .main .show_phone{
                clear: both;
                display: block;

            }
            body .main .show_d1{
                float: left;
            }
            body .main .show_d2{
                margin: -120px 0 0 120px;
                float: left;
                height: 140px;
            }
            body .main .show_phone p, body .main .show_phone span{
                line-height: 16px;
                margin: 0;
                padding: 0;
            }
            body .main .add_goods{
                width: 80%;
                margin:  0 auto;
            }
            body .add_goods .pp1 {
                text-align: right;
            }
            .add_goods .pp1 .la{
                text-align: right;
            }
            .add_goods input{
                width: 100%;
            }
            body .time_delay{
                margin-top: 100px;
            }
            .goodsDesktop{
                display: none;
            }
            .goods_phone{
                display: block;
            }

        }
    </style>
<div class="head">
    <div class="first_line">
        <div class="top_div">满299免邮</div>
        <div id="menu">
            <ul id="nav">
                <li class="mainlevel" id="mainlevel_01"><a href="" ng-mouseover="move()" target="_blank">满299免邮</a>
                    <ul id="sub_01">
                        <li><a href="" target="_blank">购买男装</a></li>
                        <li><a href="" target="_blank">购买女装</a></li>
                        <li><a href="" target="_blank">查看详情</a></li>
                    </ul>
                </li>

                <li class="mainlevel" id="mainlevel_02"><a href="" ng-mouseover="move()" target="_blank">ENGLISH</a>
                    <ul id="sub_02">
                    </ul>
                </li>

                <li class="mainlevel" id="mainlevel_03"><a href="" ng-mouseover="move()" target="_blank">{{loginName}}</a>
                    <ul id="sub_03">
                        <!--<li><a href="" target="_blank">登录</a></li>-->
                        <li><a href="" target="_blank">创建账户</a></li>
                        <li><a href="" target="_blank">追踪我的订单</a></li>
                    </ul>
                </li>

                <li class="mainlevel" id="mainlevel_04"><a href="" ng-mouseover="move()" target="_blank">购物袋</a>
                    <ul id="sub_04">

                    </ul>
                </li>
            </ul>
        </div>


    </div>

    <div class="logo_div">
        <img class="menu_img" src="../../../img/sites-abercrombie_cn-site_files/menu.png" alt=""/>
        <img class="search_img" src="../../../img/sites-abercrombie_cn-site_files/search.png" alt=""/>
        <img class="first_line_logo2" src="../../../img/Sites-abercrombie_cn-Site_files/logo2.png" alt=""/>
        <img class="first_line_logo" src="../../../img/Sites-abercrombie_cn-Site_files/logo.png" alt=""/>
        <img class="user_img" src="../../../img/Sites-abercrombie_cn-Site_files/user.png" alt=""/>
        <img class="market_img" src="../../../img/Sites-abercrombie_cn-Site_files/market.png" alt=""/>
    </div>

    <div class="selectButtons">
        <span>男装</span>
        <span>女装</span>
        <span>牛仔裤</span>
        <span>LOOKBOOK</span>
        <!--<div>-->
            <!--<input type="text" placeholder="搜索产品"/><img src="../../../img/sites-abercrombie_cn-site_files/searchimg.png" alt=""/>-->
        <!--</div>-->
    </div>

</div>


<!--中间部分-->

<div class="main">
    <div class="title">
        <span>
            购物袋
        </span>
        <!--<input type="button" value="付款" />-->
    </div>
    <div class="fuwu">
        顾客服务 - 4001-201186 或 +1 925 206 3125
    </div>
    <div class="goods_title">
        <ul>
            <li class="li1">说明</li>
            <li class="li2">单价</li>
            <li class="li2">购买数量</li>
            <li class="li2">尺码</li>
            <!--<li class="li2">颜色</li>-->
        </ul>
    </div>
    <div class="goods goodsDesktop" ng-repeat="pro in page">
        <ul class="show_pc">
            <li class="li11"><img style="width: 75px;height: 93px;" src="{{pro.p_img_item1}}" alt=""/></li>
            <li class="li11">
                <div>
                    <p>
                        {{pro.p_name}}</p>
                    <a style="cursor:pointer;text-decoration: none"href="#/homepage">我还要买</a>
                    <a style="cursor:pointer;" ng-click="removeGoods(pro.num)">我不要了</a>
                </div>
            </li>
            <li class="li22">{{pro.p_price}}</li>
            <li class="li22">{{pro.sc_count+"件"}}</li>
            <li class="li33">{{pro.sc_size}}</li>
            <!--<li class="li33">绿色格子</li>-->
        </ul>
    </div>
<!--手机-->
    <div class="goods goods_phone">
        <div class="show_phone" >
            <div ng-repeat="pro1 in page">
                <div class="show_d1">
                    <img style="width: 80px;height: 100px" src="{{pro1.p_img_item1}}" alt=""/>
                </div>
                <div class="show_d2">
                    <p>{{pro1.p_name}}</p>
                    <p><a  style="cursor:pointer;text-decoration: none"href="#/homepage">我还要买</a></p>
                    <p><a  style="cursor:pointer;text-decoration: none"ng-click="removeGoods(pro1.num)">我不要了</a></p>
                    <!--<p><span>颜色:</span>&nbsp;&nbsp;<span>绿色格子</span></p>-->
                    <p><span>尺码:</span>&nbsp;&nbsp;<span>{{pro1.sc_size}}</span></p>
                    <p>已购数量:&nbsp;&nbsp;<span>{{pro1.sc_count+"件"}}</span></p>
                    <p><span>单价:</span>&nbsp;&nbsp;<span>{{pro1.p_price}}</span></p>
                </div>

            </div>

        </div>
    </div>



    <div class="add_goods">
        <!--<p class="pp1">小计 <label class="la">{{}}</label></p>-->
        <p class="pp2">预计总金额 <label  class="la">{{allPrice}}</label></p>
        <p class="pp3">预估总额含增值税</p>
        <p class="pp3"><a href="">运费和增值税</a></p>
        <input type="button" value="付款" />
    </div>
    <div class="time_delay">
        商品将在您的购物袋中保留 30 天。
    </div>



</div>
<div class="foot">
    <div class="color"></div>
    <div class="bottom">
        <div class="bottom_container">
            <div class="bottom_left">
                <input type="button" value="取得独享优惠的电子邮件"/>
                <p>成为获得关于独享优惠、最新 Lookbook 和最新潮流等信息的第一人。</p>
                <img src="../../../img/sites-abercrombie_cn-site_files/weibo.png" alt=""/>
                <p><a href="">查找门店</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">沪ICP备14015436-1号
                    <!--<img src="./img/Sites-abercrombie_cn-Site_files/anf-CN-govt-icon" alt=""/>-->
                </a></p>
            </div>
            <div class="bottom_right">
                <div class="d1">
                    <ul>
                        <li class="li1">帮助</li>
                        <li>常见问题</li>
                        <li>尺码表</li>
                        <li>订单帮助</li>
                        <li>在线订购</li>
                        <li>运费和手续费</li>
                        <li>退货和换货</li>
                        <li>追踪我的订单</li>
                    </ul>
                </div>

                <div class="d2">
                    <ul>
                        <li class="li1">隐私与条款</li>
                        <li>隐私</li>
                        <li>销售条款</li>
                        <li>网站使用条例</li>
                    </ul>
                </div>
                <div class="d3">
                    <ul>
                        <li class="li1">关于我们</li>
                        <li>品牌保护</li>
                        <li>职位招聘</li>
                        <li>多样性</li>
                        <li>投资者</li>
                    </ul>
                </div>
                <div class="d4">
                    <ul>
                        <li class="li1">我们的品牌</li>
                        <li>Abercrombie & Fitch</li>
                        <li>Abercrombie Kids</li>
                        <li>Hollister</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
