body{
    background:url(".././img/Sites-abercrombie_cn-Site_files/bgyellow_03.png") ;
}
.main{
    overflow: hidden;
    width: 70%;
}
.main_top{
    width: 100%;
}
.main .main_top .top_left img{
    height: 170px;
}
.main .main_top .top_left img:hover{
    cursor: pointer;
}
.main_top .slider{
    height: 323px;
    width: 1000px;
    position: relative;
    overflow: hidden;
}
.main .main_top .slider img{
    position: absolute;
}
.main .main_top .slider #slide1{
    left: -1000px;
}
.main .main_top .slider #slide2{
    left: 0;
}
.main .main_top .slider #slide3{
    left: 1000px;
}

.main_top .slider2{
    display: none;
}
.main_right .slider img{
    width: 100%;
}
.main_left{
    clear: both;
    text-align: left;
    margin-top: 50px;
    float: left;
    width: 19%;
    height: 1000px;
}
.main_left ul li{
    padding: 20px 0;
}
.main_left ul .li1{
    font-size: 1.2em;
    font-weight: bold;
}
.main_left ul li:hover{
    cursor: pointer;
    color:black;
}
.main_right{
    margin-top: 50px;
    float: left;
    width: 80%;
    height: 1000px;;
    position: relative;
}
.main .main_right .search_div{
    margin-bottom: 20px;
    font-family: "TradeGothic Bold",Arial,sans-serif;
}
.main .main_right .search_div img{
    cursor: pointer;
    margin-left: -30px;
}
.main .main_right .search_div input{
    width: 200px;
    height: 30px;
}
.lots div{
    width: 33%;
    float: left;
}
.lots .p1:hover,.lots img:hover{
    cursor: pointer;
}
.lots .p3{
    font-weight: bold;
    color: black;
}
.lots .p2{
    font: 14px/1.214em "TradeGothic Bold",Arial,sans-serif;
}
.all1{
    display: none;
}
#prev,#next{
    font-size: 2em;
    border: none;
    width: 40px;
    height: 50px;
    position: absolute;
    top:137px;
    z-index: 1;
    background: rgba(0,0,0,0.8);
    display: none;
    outline: none;
    color:white;
    cursor: pointer;
}
#next{
    position: absolute;
    right:55px;
}
.main .lots a{
    background: none;
    text-decoration: none;
}
.main .lots a:hover{
    text-decoration: underline;
}
.main #selectOptions{
    height: 36px;
}
.allSearch{
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    height: 100%;
    display: none;
    background:url(".././img/Sites-abercrombie_cn-Site_files/bgyellow_03.png") ;
}






@media screen and (max-width: 1100px) {
    #menu,.selectButtons{
        display: none;
    }
    body{
        padding-top: 1px;
    }
    .top_div{
        line-height: 30px;
        cursor: pointer;
        text-align: center;
        height: 30px;
        width: 100%;
        background: #999;
    }
    .logo_div{
        text-align: center;
        margin-top: 8px;
        vertical-align: middle;
        height: 50px;
        background: #262626;
    }
    .logo_div img{
        cursor: pointer;
    }
    .menu_img,.search_img{
        margin-top: 14px;
        float: left;
        display: block;
    }
    .menu_img {
        margin-right: 10px;
    }
    .user_img,.market_img{
        float: right;
        display: block;
    }
    .market_img{
        margin-top: 11px;
        margin-right: 10px;
    }
    .user_img{
        margin-top: 14px;
    }
    #regForm input{
        width: 100%;
    }
    #regForm span{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .first_line_logo{
        display: none;
    }
    .foot{
        height: 500px;
    }
    .foot .bottom .bottom_right ,.foot .bottom .bottom_left{
        clear: both;
        width: 100%;
    }
    .bottom_left input{
        width: 100%;
    }
    .first_line_logo2{
        display: inline-block;
    }
    .bottom_left img{
        display: block;
        cursor: pointer;
        margin:  0 auto;
    }
    .bottom_left p{
        text-align: center;
    }
    .bottom_container{
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }
    .foot .bottom .bottom_right{
        clear: both;
        height: 200px;
        width: 100%;
    }
    .foot .bottom_right{
        background: #262626;
        color: white;
    }
    .bottom_right div ul li{
        text-align: center;
    }
    .bottom_right div .li1{
        font-size:1em;
        color: #999;
        padding: 15px 0;
    }
    .main  .top_left,.main .main_left{
        display: none;
    }
    body .main .slider,.all {
        display: none;
    }
    body .main{
        width: 90%;
    }
    body .main .main_right,body .main .main_right .search_div input{
        width: 100%;
    }
    body .main .main_right .search_div{
        position: relative;
        width: 90%;
        margin: 10px auto;
        z-index: 0;
    }
    body .main .main_right .search_div img{
        position: absolute;
        right:5%;
        top:11px;
    }
    body .main .main_right{
        height: auto;
    }
    body .main .slider2{
        overflow: hidden;
        display: block;
        width: 200%;
    }
    body .main .slider2 img{
        width: 50%;
    }
    .all1{
        display: block;
    }
    .all1 #div1 .d1,.all1 #div1 .d2,.all1 #div2 .d1,.all1 #div2 .d2,.all1 #div3 .d1,.all1 #div3 .d2{
        font: 14px/1.214em "TradeGothic Bold",Arial,sans-serif;
        text-align: center;
        width: 45%;
    }
    .all1 img{
        width: 100%;
    }
    .all1 p,.all1 div img{
        cursor: pointer;
    }
    .all1 .p3{
        color: black;
        font-weight: bold;
    }
    .all1 .d1,.all1 div{
        float: left;
    }
    .all1 .d2{
        float: right;
    }
    body .main .all1 #div1 a{
        background: none;
        text-decoration: none;
    }
    body .main .all1 #div1 a:hover{
        text-decoration: underline;
    }
    /*ÒÆ¶¯ÂÖ²¥µÄ*/
    .shuffinner{
        font-size: 0;
        width: 100%;
        overflow: hidden;
    }
    body .allSearch{
        top:90px;
    }
    body .main .main_right .search_div img{
        top: 46px;
    }
    .lots div{
        width: 45%;
    }
    .lots div img{
        width: 100%;
    }
}