/*@charset "utf-8";*/
/*/!* CSS Document *!/*/
html, body, ul, li, h1, h2, h3, h4, h5, h6, fieldset, legend {
    padding: 0;
    margin: 0;
}

/*body {*/
    /*font: 12px/normal Verdana, Arial, Helvetica, sans-serif;*/
/*}*/

ul, li {
    list-style-type: none;
    text-transform: capitalize;
}

/*.clear {*/
    /*clear: both;*/
    /**display: inline; /!*IE only*!/*/
/*}*/

/*menu*/
#nav {
    /*margin: 0 auto 60px;*/
    /*width: 1080px;*/
    display: block;
}

#nav .jquery_out {
    float: left;
    line-height: 32px;
    display: block;
    text-align: center;
    color: #fff;
    font: 18px/32px "微软雅黑";
    background: #062723 url(../images/slide-panel_03.png) 0 0 repeat-x;
}

#nav .jquery_out .smile {
    padding-left: 1em;
}

#nav .jquery_inner {
    margin-left: 16px;
}

#nav .jquery {
    margin-right: 1px;
    padding: 0 2em;
}

#nav .mainlevel {
    color:white;
    font-size: .8em;
    float: left;
    border-right: 1px solid black;
    width: 140px; /*IE6 only*/
}

#nav .mainlevel a {
    color: white;
    text-decoration: none;
    line-height: 32px;
    display: block;
    padding: 0 20px;
    width: 100px;
}

#nav .mainlevel a:hover {
    color: #fff;
    text-decoration: none;
    background: #062723 url(../images/slide-panel_03.png) 0 0 repeat-x;
}

#nav .mainlevel ul {
    display: none;
    position: absolute;
}

#nav .mainlevel li {
    border-top: 1px solid #162726;
    background: #162726;
    width: 140px; /*IE6 only*/
}

.log {
    text-align: center;
    color: skyblue;
    line-height: 24px;
    text-transform: capitalize;
    margin: 50px auto;
}
body{
    font-family: "TradeGothic Bold",Arial,sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
}
.first_line{
    height: 32px;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background: black;
}
.first_line_logo2{
    display: none;
}
.logo_div{
    text-align: center;
    margin-top: -17px;
    vertical-align: middle;
    height: 60px;
    background: black;
}
.menu_img,.search_img,.user_img,.market_img{
    display: none;
}
.selectButtons{
    color: white;
    height: 30px;
    width: 100%;
    text-align: center;
    background: black;
    position: relative;
    z-index: 3;

}
.selectButtons div{
    display: inline;
    position: relative;

}
.selectButtons input{
    height: 20px;
    width: 12%;
    border: 1px solid #C3C0C2;
    padding-left: 10px;
    background: #212121;
}
.selectButtons span{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin: 0 1%;
}
.selectButtons span:hover{
    /*background: #666;*/
    color: #ccc;
}
.selectButtons img{
    position: absolute;
    top: 1px;
    cursor: pointer;
    right: 10px;
}

.main{
    width: 80%;
    /*height: 500px;*/
    margin: 0 auto;
    color:#6F6F6F;
    padding-top: 150px;
}
.main a{
    color: #999;
    background: #fffef7;
}
#confirm,#email,#password,#username,#yanzhengma{
    width: 30%;
    height: 30px;
}
.head{
    width: 100%;
    position: fixed;
    background-color: #212121;
    top: 0;
    left: 0;
    z-index: 1;
}
#regForm input {
    margin: 10px  10px 10px 0;
}
#create{
    border: 1px solid #3D5E37;
    width: 8%;
    height: 30px;
    background: #3D5E37;
    outline: none;
    color: white;
}
#create:hover{
    cursor: pointer;
    background: #38772E;
    border: 1px solid #38772E;
}
.color{
    width: 100%;
    height: 100px;
    background: #272727;
}
.bottom{
    width: 100%;
    height: 300px;
    background: #212121;
}
.bottom_container{
    width: 90%;
    height: 300px;
    margin: 0 auto;
}
.bottom_left{
    width: 40%;
    height: 300px;
    /*outline: 1px solid red;*/
    float: left;
}
.bottom_right{
    width: 60%;
    height: 300px;
    float: left;
    /*outline: 1px solid red;*/
}
.bottom_left p{
    color: #999;
}
.bottom_left input{
    margin-top: 30px;
    color: white;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    background: transparent;
}
.bottom_left input:hover{
    cursor: pointer;
    color:black;
    background: white;
}
.bottom_left p{
    margin-top: 20px;
}
.bottom_left img{
    vertical-align: middle;
}
.bottom_left a{
    text-decoration: none;
    color: #999;
}
.bottom_right div{
    width: 25%;
    height: 100%;
    /*outline: 1px solid red;*/
    float: left;
}
.bottom_right ul li{
    text-align: left;
    list-style: none;
    padding: 7px 0 ;
}
.bottom_right  li{
    font-size: 0.8em;
    color: white;
}
.bottom_right div .li1{
    font-size:1em;
    color: #999;
    padding: 15px 0;
}
.bottom_right  li:hover{
    color: #666;
    cursor: pointer;
}

#mainlevel_04{
    position: absolute;
    right: 140px;
    z-index: 4;
}
#mainlevel_02{
    position: absolute;
    right: 281px;
    z-index:4;
}
#mainlevel_03{
    position: absolute;
    right: 0;
    z-index: 4;

}
#mainlevel_01{
    position: absolute;
    z-index: 4;
}
#sub_04{
    width: 200%;
    height: 340px;
    background: #162726;
    padding-top: 1px;
}

