div.layout-column.flex.login-bg-wrapper
	span.flex
	//- 注册div
	div.login-wrapper.layout-column.animated.bounceInDown
		form.layout-column.flex(name="regForm")
			h2.title 注 册
			div.layout-row
				md-input-container.flex
					label 邮 箱
					input(type="email" ng-pattern="/^.+@.+\..+$/" ng-model="reg.account" name="account" required)
					div(ng-messages="regForm.account.$error" multiple md-auto-hide="false")
						div(ng-message="required") 不能为空！
						div(ng-message="pattern") 请输入正确的邮箱！
			div.layout-row
				md-input-container.flex
					label 密 码
					input(type="password" minlength="6" maxlength="20" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/" ng-model="reg.password" name="password" required)
					div(ng-messages="regForm.password.$error" multiple md-auto-hide="false")
						div(ng-message="required") 不能为空！
						div(ng-message="pattern") 密码由不少于6位数字和字母构成！
			div.layout-row
				md-input-container.flex
					div
						span.gender-span 性 别
					md-radio-group.layout-row(ng-model="reg.gender" name="gender")
						md-radio-button.flex(ng-repeat="gender in genderArr" ng-value="gender.name") {{gender.text}}
			div.layout-row
				md-input-container.flex
					label 年 龄
					input(type="number" ng-model="reg.age" max="99" min="1" name="age")
			div.layout-row.submit-div
				span.flex
				md-button.md-raised.md-primary(type="submit" ng-click="ctrl.reg();" ng-disabled="regForm.$invalid" ui-sref="home") 我填好了
				span.go-to-reg.flex 我来过了，
					span(ui-sref="login") 我要登录
	span.flex
	